graft snakeviz
graft tests

include setup.py
include setup.cfg
include LICENSE.txt
include README.rst
include MANIFEST.in

include CHANGES.rst

exclude CODE_OF_CONDUCT.md
prune docs

global-exclude __pycache__ *.py[cod]
